* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

button:hover{
    opacity: 0.8;
}

button:active{
    transform: translateY(0.15vw);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator-body{
    padding: 2vw;
    height: 70vh;
    width: 35%;
    border: #222831 solid 1vw;
    background-color: #393e46;
}

#display{
    padding: 3%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border: #222831 solid 0.25vw;
    background-color: #ffffff;
    overflow: hidden;
}

#operation-cache{
    font-size: 3vh;
}

#current-operation{
    font-size: 5vh;
}

#buttons-container{
    display: flex;
    flex-direction: column;
    height: 80%;
}

#upper-buttons-container {
    width: 100%;
    height: 20%;
    margin: 3% 0 3% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
}

#lower-buttons-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1%;
    column-gap: 1%;
}

.upper-button{
    border: #222831 solid 0.25vw;
    border-radius: 1cap;
    font-size: 3vh;
}

#clean-button{
    background-color: #0881d2;
}

#delete-button{
    background-color: #dc2f2f;
}

.number-button{
    border: #222831 solid 0.15vw;
    border-radius: 1cap;
    font-size: 3vh;
    background-color: #f2f2f2;
    color: #222831;
}

.operation-button{
    border: #222831 solid 0.15vw;
    border-radius: 1cap;
    font-size: 4vh;
    background-color: #f96d00;
    color: #f2f2f2;
}

#division-button{
    background-color: #6e81b5;
}

#multiplication-button{
    background-color: #78a713;
}

#addition-button{
    background-color: #076c9e;
}

#subtraction-button{
    background-color: #efcc31;
}

footer{
    width: 100%;
    padding: 0.25rem;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    font-size: 2vh;
    font-weight: bold;
}

@media (orientation: portrait) {

    #calculator-body{
        padding: 4vh;
        width: 75%;
        height: 75vh;
    }

    #display{
        border: #222831 solid 1vw;
    }
}